.home-data {
  display: inline-flex;
  flex-direction: column;
  row-gap: 2rem;
  grid-column: 1/3;
  @include respond(tab-port) {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  &__name {
    font-size: $big-font-size;
    @include respond(tab-port) {
      justify-content: center;
    }
  }
  &__education {
    font-size: $h3-font-size;
    font-weight: $font-normal;
    padding-left: 5rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 50%;
      transform: translateY(-50%);
      width: 4rem;
      height: 0.1rem;
      background-color: #c7c7c7;
    }
    
  }
  .home__hand {
    margin-left:1rem;
    animation: retate 1s linear infinite ;
    transform-origin: bottom;
    animation-fill-mode: forwards;
    @include respond(tab-port) {
      width: 26px;
      height: 26px;

    }
    @include respond(tab-port){
      width: 20px;
      height: 20px;

    }
 
  }
  &__description {
    max-width: 40rem;
    @include respond(tab-port){
      max-width:35rem;
    }
  }
  &__button {
   
  }
  &__scroll {
    display: block;

    @include respond(tab-port) {
      display: none;
    }
  }
}
